<footer class="footer has-background-success has-text-dark">
    <div class="container mt-3">
        <div class="fixed-grid has-1-cols has-5-cols-desktop">
            <div class="grid">
                <div class="cell mb-4 is-col-span-2-desktop">
                    <h2 class="title is-4 has-text-dark is-italic">Parfum de Fleur</h2>
                </div>
                <div class="cell mb-4">
                    <h2 class="title is-6 has-text-dark">Navigation</h2>
                    <ul>
                        <li><%= link_to "About", about_path, class: "has-text-dark" %></li>
                        <li><%= link_to "Contact", contact_path, class: "has-text-dark" %></li>
                    </ul>
                </div>
                <div class="cell mb-4">
                    <h2 class="title is-6 has-text-dark">Connect</h2>
                    <ul>
                        <li>hello@parfumdefleur.com</li>
                        <li>+1 (204) 123-4567</li>
                    </ul>
                </div>
                <div class="cell">
                    <h2 class="title is-6 has-text-dark">Location</h2>
                    <ul>
                        <li>890 Main Street</li>
                        <li>Winnipeg, Manitoba, Canada</li>
                        <li class="mb-5">H0H 0H0</li>
                        <li>Monday to Saturday: 10AM-8PM</li>
                        <li>Sunday: Closed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
