<nav class="navbar is-warning" aria-label="main navigation">
    <div class="navbar-brand">
        <%= link_to "Parfum de Fleur", root_path, class: "navbar-item has-text-weight-bold is-italic" %>
        <a role="button" class="navbar-burger has-text-dark" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <%= link_to "About", page_path("about"), class: "navbar-item" %>
            <%= link_to "Contact", page_path("contact"), class: "navbar-item" %>
        </div>
        <div class="navbar-end">
        
        </div>
    </div>
</nav>
