<nav class="navbar is-dark mb-5" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Parfum de Fleur", root_path, class: "navbar-item has-text-weight-bold" %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "About", page_path("about"), class: "navbar-item" %>
      <%= link_to "Contact", page_path("contact"), class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to "Shop", products_path, class: "navbar-link" %>
        <div class="navbar-dropdown is-right">
          <%# In the future, you can loop categories here like: %>
          <%# @categories.each do |category| %>
          <%#   = link_to category.name, category_path(category), class: "navbar-item" %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</nav>
