<!DOCTYPE html>
<html>
    <head>
        <title>Parfum de Fleur</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

        <%= stylesheet_link_tag 'public', media: 'all', 'data-turbo-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    </head>

    <body>
        <%= render "shared/navigation" %>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const burger = document.querySelector('.navbar-burger');
                const menu = document.getElementById('navbarMenu');

                if (burger && menu) {
                burger.addEventListener('click', () => {
                    burger.classList.toggle('is-active');
                    menu.classList.toggle('is-active');
                });
                }
            });
        </script>

        <%= yield %>
    </body>
</html>
