<!DOCTYPE html>
<html>
    <head>
        <title>Parfum de Fleur</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag 'public', media: 'all', 'data-turbo-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
